 <%= Gon::Base.render_data %>

<h1> <%= @user.name%> </h1>
<%= @sum %> / 384,400 km
<h2> Only <%= 384400 - @sum%>km to go! </h2>

<div id = "planet_container">
  
    <img id = "earthpic" src="http://orig10.deviantart.net/ae54/f/2010/326/5/1/51fe8413c296378bbc0563daf917459b-d33emut.png">

    <div id = "redline">
    </div>

    <img id = "moonpic" src="http://images.clipartpanda.com/moon-clip-art-119498436179961113moon_charles_mccolm_01.svg.med.png">

</div>