<div id="welcome-index">
  <h1> <%=link_to 'moonwalk', welcomes_path %> </h1>
  <button type="button"class="existing-button"> <%= link_to 'Existing user', users_path %></button>
  <button type="button"class="new-button"><%= link_to 'New user', new_user_path %></button>

</div>

