body {
  height: 100%;
  font-family: 'remagg_cz';
}

h1 {
  margin: 0 0;
}

#welcome-index {
  width: 100%;
  height: 900px;
  color: white;
  /*background-image: url(http://www.mrwallpaper.com/wallpapers/Moon-Earth-View.jpg);*/
  background-image: url(http://img06.deviantart.net/306a/i/2009/184/2/f/the_moon___wallpaper_by_cycoze.jpg);
  background-size: cover;
  font-family: 'remagg_cz';
}

.existing-button {
  position: absolute;
  display: inline-block;
  left: 700px;
  top: 300px;
}

.new-button{
  position: absolute;
  display: inline-block;
  left: 700px;
  top: 350px;
}

.existing-button, 
.new-button{
  background: transparent;
  border: none;
  font-size: 30px
}


.existing-button:hover , 
.new-button:hover {
  background: transparent;
  border: none;
  color: red;
}

.existing-button:active, 
.new-button:active {
  background: transparent;
  border: none;

}

.existing-button:focus, 
.new-button:focus {outline:0;}

a:link { text-decoration: none;
        color: white;
     }  

a:visited { text-decoration: none;
color: white; }  

a:hover   { color: red } 



