body {
  height: 100%;
  font-family: 'remagg_cz';
}

h1 {
  margin: 0 0;
}

#welcome-index {
  width: 100%;
  height: 900px;
  color: white;
  /*background-image: url(http://www.mrwallpaper.com/wallpapers/Moon-Earth-View.jpg);*/
  background-image: url(http://img06.deviantart.net/306a/i/2009/184/2/f/the_moon___wallpaper_by_cycoze.jpg);
  background-size: cover;
  font-family: 'remagg_cz';
}



.existing-button, 
.new-button

{

  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: .8em 1.4em;
  padding-right: 4.7em;
  background: red;
  border: none;
  color: white;
  font-family: 'remagg_cz';
  transition: .2s;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    content: "\00a0";
    font-family: 'remagg_cz';
    font-size: 1.2em;
    text-align: center;
  
}


