body {
  height: 100%;
}

h1 {
  margin: 0 0;
}

#welcome-index {
  width: 100%;
  height: 900px;
  color: white;
  background-image: url(http://www.mrwallpaper.com/wallpapers/Moon-Earth-View.jpg);
  background-size: cover;
}